{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "proseWrap": "never",
  "insertPragma": false,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": ["<THIRD_PARTY_MODULES>", "^(@/)", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
